{% extends 'sound/base.html' %}
{% load staticfiles %}

{% block title %}Main {% endblock %}

{% block search %}
    {% include 'sound/snippets/search_form.html' %}
{% endblock %}

{% block body %}

        <div class="row">
            <div class="col-sm-offset-3 col-sm-6" id="suggestion">

            </div>
        </div>

            <div class="row">
                <div class="col-xs-12 main">
                    <h3>Top liked</h3>
                    {% if song_list %}
                        {% for song in song_list %}
                            <div class="col-xs-12 col-sm-3 col-md-2">
                                <div class="thumbnail item">
                                    <a href="{% url 'song-detail' song.slug %}">
                                        <img class="" src="{{ MEDIA_URL }}{{song.picture}}" alt="Song picture">
                                    </a>
                                    <div class="caption">
                                        <h5 class="text-info">{{ song.title }}</h5>
                                        <p>{{ song.artist }}
                                        </p>
                                             <button type="button"
                                                     class="btn btn-danger btn-sm like"
                                                     data-songid="{{ song.id }}">
                                                 {{ song.likes }}
                                                 <span class="glyphicon glyphicon-thumbs-up"></span>
                                             </button>
                                            <a href="{% url 'song-detail' song.slug %}"
                                                    class="btn btn-primary btn-sm">
                                                 <span class="glyphicon glyphicon-play"></span>
                                            </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                    {% else %}
                        No songs present
                    {% endif %}


            <div class="row">
                <div class="col-xs-12 main">
                    <h3>Recently added</h3>
                    {% if song_list %}
                        {% for song in recent_song_list %}
                            <div class="col-xs-12 col-sm-3 col-md-2">
                                <div class="thumbnail">
                                    <a href="{% url 'song-detail' song.slug %}">
                                        <img class="" src="{{ MEDIA_URL }}{{song.picture}}" alt="Song picture">
                                    </a>
                                    <div class="caption">
                                        <h5 class="text-info">{{ song.title }}</h5>
                                        <p>Artist: {{ song.artist }}
                                        </p>
                                             <button type="button"
                                                     class="btn btn-danger btn-sm like"
                                                     data-songid="{{ song.id }}">
                                                 {{ song.likes }}
                                                 <span class="glyphicon glyphicon-thumbs-up"></span>
                                             </button>
                                            <a href="{% url 'song-detail' song.slug %}"
                                                    class="btn btn-primary btn-sm">
                                                 <span class="glyphicon glyphicon-play"></span>
                                            </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                    {% else %}
                        No songs present
                    {% endif %}

{% endblock %}