{% extends 'sound/base.html' %}

{% block title %} Search {% endblock%}

{% block body %}


    <div class="col-sm-offset-2 col-sm-9">
        <form class="form-inline" action="{% url 'search' %}" method="POST">
                {% csrf_token %}
              <div class="form-group">
                <input type="text"
                       id="search"
                       name="search"
                       class="form-control"
                       size="65px"
                       placeholder="Search for song"
                        value="{{ query }}">
              </div>
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </form>

        <h3>Results:</h3>
        {% if song_list %}
            <ul class="media-list">
                {% for song in song_list %}
                    <li class="media">
                        <div class="media-left">
                            <a href="{% url 'song-detail' song.slug %}">
                                <img class="media-object" src="{{ MEDIA_URL }}{{ song.picture }}" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="{% url 'song-detail' song.slug %}">
                                <h4 class="media-heading">
                                    {{ song.title }}
                                </h4>
                            </a>
                            <p>Artist:{{ song.artist }}</p>
                            <p>Genre:
                                {% for genre in song.genre.all %}
                                {{genre}}
                                {% endfor %}
                            </p>
                            <p class="text-info">
                                Piblished:
                                {{ song.pub_date}}
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            No results
        {% endif %}
    </div>

{% endblock %}