{% extends 'sound/base.html' %}

{% block title %} Search {% endblock%}

{% block search %}
    {% include 'sound/snippets/search_form.html' %}
{% endblock %}

{% block body %}

<div class="col-sm-offset-2 col-sm-8">
    <h3>Results:</h3>
    {% if song_list %}
    <ul class="media-list main">
        {% for song in song_list %}
        <li class="media main">
            <div class="media-left">
                <a href="{% url 'song-detail' song.slug %}">
                    <img class="media-object" src="{{ MEDIA_URL }}{{ song.picture }}" alt="">
                </a>
            </div>
            <div class="media-body">
                <a href="{% url 'song-detail' song.slug %}">
                    <h4 class="media-heading">
                        {{ song.title }}
                    </h4>
                </a>
                <p>Artist:{{ song.artist }}</p>
                <p>Genre:
                    {% for genre in song.genre.all %}
                    {{genre}}
                    {% endfor %}
                </p>
                <p class="text-info">
                    Piblished:
                    {{ song.pub_date}}
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    No results
    {% endif %}
</div>

{% endblock %}