{% extends 'sound/base.html' %}
{% load staticfiles %}

{% block title %}{{ song.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="thumbnail song">
                {% if song.picture %}
                    <img src="{{ MEDIA_URL }}{{ song.picture }}" alt="song picture">
                {% else %}
                    <img src="{% static 'images/song_picture.png' %}" alt="song picture">
                {% endif %}
                <div class="caption">
                    <hr>
                    <h3>{{ song.title }}</h3>

                    <p>
                        <audio src="{{ MEDIA_URL }}{{ song.source }}" controls></audio>
                    </p>
                    <p>Artist: {{ song.artist }}</p>
                    <p>Genre:
                        {% for genre in song.genre.all %}
                            {{ genre.title }}
                        {% endfor %}
                    </p>
                    {% if song.album %}
                        <p>Album: {{ song.album }}</p>
                    {% endif %}
                    <p>Published: {{ song.pub_date }}</p>
                        <button type="button"
                                class="btn btn-default btn-sm like"
                                data-songid="{{ song.id }}">
                            {{ song.likes }}
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </button>
                        <a href="{% url 'update-song' song.slug %}"
                           class="btn btn-default btn-sm">
                            Update
                            <span class="glyphicon glyphicon-pencil"></span>

                        </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-sm-offset-2 col-sm-8" id="comment-list">
                {% if song.commentsong_set.all %}
                    <h5>Comments:</h5>
                    {% for comment in song.commentsong_set.all %}
                        <div class="panel panel-default main">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        {% if comment.author.user_profile.picture %}
                                            <img class="media-object" src="{{ MEDIA_URL }}{{ comment.author.user_profile.picture }}" alt="...">
                                        {% else %}
                                            <img class="media-object" src="{% static 'images/default-user.png' %}" alt="...">
                                        {% endif %}
                                        </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">{{ comment.author }}</h4>
                                        <p>{{ comment.text }}</p>
                                        <h6 class="media-heading text-info">{{ comment.pub_date }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endfor%}
                {% endif %}
                </div>
    </div>
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6">
                        <h6>Add Comment</h6>
                        {% if user.is_authenticated %}
                        <form class="add-comment">
                            {% csrf_token %}
                            <textarea class="form-control" id="id_text" name="text" rows="5" required=""></textarea>
                            <button type="button" id ="add-comment-btn"
                                    class="btn btn-default"
                                    data-songid="{{ song.id }}"
                                    data-author="{{ user.username }}">
                                Add
                            </button>
                        </form>
                        {% else %}
                        <p class="text-danger">Only registred users can add comments</p>
                        {% endif %}
                    </div>
                </div>
            </div>

{% endblock %}