{% extends "sound/base.html" %}
{% load i18n %}

{% block body %}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">User profile {{ user.get_profile.web_site }}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-3">
                        <img id="user-picture" src="{{ MEDIA_URL }}{{ user_profile.picture }}" alt="picture">
                    </div>
                    <div class="col-sm-9">
                        <p>Username: {{ selected_user.username }}</p>
                        Web-site:
                        <a href="{{ user_profile.web_site }}">
                            {{ user_profile.web_site }}
                        </a>
                    </div>


                </div>

            </div>
        </div>
    </div>

{% endblock %}