body {
    padding-top: 100px;
    background-color: #f5f5f5;
}


.song > img{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;

}

.add-comment > .btn {
    float: right;
    margin: 5px;
}

.media-object {
    width: 100px;
}

.btn-block {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px; 0px;
}

#user-picture {
    width: 100px;
}